[submodule "monkeyspeak"]

	path = monkeyspeak

	url = https://github.com/StarShip-Avalon-Projects/MonkeySpeakEx.git
[submodule "MonkeyspeakTest"]

	path = MonkeyspeakTest

	url = https://github.com/StarShip-Avalon-Projects/MonkeySpeakEx.git

[submodule "MonkeyspeakTestsVB"]

	path = MonkeyspeakTestsVB

	url = https://github.com/Gerolkae/MonkeyspeakTestsVB.git