version: 1.0.6677.38227
branches:
  only:
  - master
image: Visual Studio 2017
configuration: Release
platform: Any CPU
skip_branch_with_pr: true
skip_tags: true

environment:
  EMAIL:
    secure: 5DsdNYTfa5eNrxsF2bEIiSajS0B0I28NIpNPewvCoZA=
  GITHUB_AUTH:
    secure: O1WNJUJxBOAXq0u7U/lAJZREJ4INf6cMp4wAtcxBG60kemmYLumTDyjArtZEtNRl

cache:
  - packages -> **\packages.config  # preserve "packages" directory in the root of build folder but will reset it if packages.config is modified

skip_commits:
  message: /norelease/      # Regex for matching commit message

# enable patching of AssemblyInfo.* files
assembly_info:
  patch: true
  file: AssemblyInfo.*
  assembly_version: '{version}'
  assembly_file_version: '{version}'
  assembly_informational_version: '{version}'

test:
  assemblies:
    - '**\*.Tests.dll'

before_build:
    - choco install 7zip
    - nuget restore Monkeyspeak.sln
#    - ps: git config --global credential.helper store
#    - ps: Add-Content "$($env:USERPROFILE)\.git-credentials" "https://$($env:GITHUB_AUTH):x-oauth-basic@github.com`n"
#    - ps: git config --global user.email "$($env:APPVEYOR_REPO_COMMIT_AUTHOR_EMAIL)"
#    - ps: git config --global user.name "$($env:APPVEYOR_REPO_COMMIT_AUTHOR)"
#    - ps: git tag | foreach-object -process { git push https://github.com/$($env:APPVEYOR_REPO_NAME) --delete $_ }
#    - ps: git tag | foreach-object -process { git tag -d $_ }

build:
  project: Monkeyspeak.sln
  publish_nuget: false
  include_nuget_references: false
  parallel: false
  verbosity: minimal


artifacts:
  - path: '**\*.tar'
    name: tars

before_deploy:
    ps: if ($env:APPVEYOR_REPO_COMMIT_MESSAGE_EXTENDED -eq $Null){ }else{ $env:APPVEYOR_REPO_COMMIT_MESSAGE_EXTENDED = " " }

# Deploy to GitHub Releases
deploy:
  - provider: GitHub
    artifact: tars           # upload all tars to release assets
    draft: false
    prerelease: false
    force_update: true
    appveyor_repo_tag: false        # deploy on tag push only
    release: Build
    tag: "$(appveyor_build_version)"
    description: "[$(appveyor_build_version)]\n$(APPVEYOR_REPO_COMMIT_MESSAGE)\n$(APPVEYOR_REPO_COMMIT_MESSAGE_EXTENDED)"
    auth_token:
        secure: O1WNJUJxBOAXq0u7U/lAJZREJ4INf6cMp4wAtcxBG60kemmYLumTDyjArtZEtNRl # your encrypted token from GitHub
    on:
        branch: master                 # release from master branch only

notifications:
- provider: Email
  to:
    - "{EMAIL}"
  on_build_success: false
  on_build_failure: true
  on_build_status_changed: false
